<div class="container mt30">

    <div class="col-md-3 mb30">
      <label for="termino">Buscar</label>
      <input type="text" placeholder="Buscar artista..." class="form-control" [(ngModel)] = "termino" (keyup) = "buscarArtista()">
    </div>

    <!-- <div class="col-md-9" *ngIf="termino">
      <h1 class="text-capitalize">{{termino}}</h1>
      <hr>
      <div class="row">
        <div class="col-md-3 text-center" *ngFor="let item of _spotify.artistas"> -->
          <!-- <img *ngIf="item.images[1]?.url" [src]="item.images[1]?.url" class="img-thumbnail" alt="">
          <img *ngIf="!item.images[1]?.url" src="assets/img/noimage.png" class="img-thumbnail" alt=""> -->
          <!-- en luagr de utilizar dos IF utilizamos un PIPE para los casos en los que no hay imagenes-->
          <!-- <img [src]="item.images | sinfoto" class="img-thumbnail" alt="{{item.name}}" title="{{item.name}}">
          <p>{{item.name}}</p>
        </div>
      </div>
    </div> -->



<div class="col-md-12" *ngIf="termino">
  <h1 class="text-capitalize">{{termino}}</h1>
  <div class="card-columns">
    <div class="card puntero" *ngFor="let item of _spotify.artistas" [routerLink] = "['/artist', item.id]">
      <img [src]="item.images | sinfoto" class="card-img-top" alt="{{item.name}}" title="{{item.name}}">
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text"><small class="text-muted">Seguidores: {{item.followers.total}}</small></p>
      </div>


    </div>
  </div>
</div>

</div>
