<div class="row">
  <div class="col-md-6">
    <div *ngIf="mostrar" class="card text-white bg-primary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <p class="card-text">{{frase.mensaje}}</p>
      </div>
      <div class="card-footer">{{frase.autor}}</div>
    </div>
    <button (click) = "mostrar = !mostrar" type="button" class="btn btn-outline-primary btn-block">Mostrar/Ocultar</button>
  </div>

  <div class="col-md-6">
    <ul class="list-group">
      <li *ngFor="let item of personajes;let i = index" class="list-group-item">
        {{i + 1}}. {{item}}
      </li>
    </ul>
  </div>
</div>
