// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
/* General */
.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{display: none}
body *{color: #f5f5f5;font-family: 'Open Sans', sans-serif;font-size: 14px;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.toolbar-title-md{font-weight: 100;color: #fff}
#ion-diagnostic *{color: #333!important}
.flex{display: flex}
.scroll-content{padding: 0!important;margin: 0;}
ion-content,.toolbar-background{background-size: cover!important;}
hr{background-color: rgba(255,255,255,.1)!important;width: 95%;margin: 20px auto;}
.grey{color:#999!important}
.red{color: #c40000!important;}
.white{color: #fff!important}
.tabs-md .tabbar{background-color: #333!important}
ion-icon{font-family: "Ionicons"!important;}
.tabs-md .tab-button-icon{color: #fff}
ion-app.md [padding] .scroll-content{border: none}
// .toolbar-background-md{background: none;}
super-tabs-toolbar{position: absolute;bottom: 0}
super-tabs-toolbar .toolbar{background-color: #333;}
super-tabs-toolbar .toolbar .text{font-size: 1.2rem;text-transform: capitalize;}
super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button.title-and-icon ion-icon{margin: 0}
super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button.title-and-icon{height: 55px;}
super-tabs-container{height: calc(100% - 55px)!important}
.toolbar-background-md {background: #333!important;}
super-tabs-container[ng-reflect-selected-tab-index="0"] .toolbar-background-md {background: none!important;}
super-tabs-container[ng-reflect-selected-tab-index="1"] .temp{font-size: 30px;}
super-tabs-container[ng-reflect-selected-tab-index="1"] ion-title{display: inline-block;vertical-align: middle;}
super-tabs-container[ng-reflect-selected-tab-index="1"] ion-navbar ion-icon{color:#fff; display: inline-block;vertical-align: middle;float: right;font-size: 25px; padding: 0 20px 0 0;}
super-tabs-container[ng-reflect-selected-tab-index="1"] ion-navbar ion-icon{color:#fff; display: inline-block;vertical-align: middle;float: right;font-size: 25px; padding: 0 20px 0 0;}
.item-label-stacked .text-input-md, .item-label-floating .text-input-md{color: #333;}


/* Home */
.temp{font-size: 50px; font-weight: bold; padding-bottom: 20px;}
.boxA{justify-content:space-around;align-items: center;padding-top: 50px;}
.boxA img{width: 40px;}
.boxA .resum div{line-height: 23px;}
.boxB .detailBox{justify-content:space-around;align-items: center;text-align: center;line-height: 25px;}
.boxB .detailBox > div{flex-grow: 1;flex-basis: 0;}
.boxB .detailBox img, .boxC .detailBox img{width: 15px;}
.boxC{text-align: center;display: flex; justify-content: space-evenly;}
.boxC .detailBox div{line-height: 25px;}
.boxC .detailBox div.grey{line-height: 12px;}
/* MIs Ubicaciones */
    /* Conditions */
/* No definido */
.unknown{background-color: #ccc}
/* Soleado */
.clear{background: rgb(255, 189, 42) url('../assets/imgs/rain.jpg')}
.sunny{background: rgb(255, 189, 42) url('../assets/imgs/rain.jpg')}
.mostlysunny{background: rgb(255, 189, 42) url('../assets/imgs/rain.jpg')}
.partlysunny{background: rgb(255, 189, 42) url('../assets/imgs/rain.jpg')}
/* Nublado */
.fog{background: rgb(250, 42, 21) url('../assets/imgs/cloud.jpg')}
.hazy{background: rgb(250, 42, 21) url('../assets/imgs/cloud.jpg')}
.cloudy{backgrounr: rgb(250, 42, 21) url('../assets/imgs/cloud.jpg')}
.partlycloudy{background: rgb(250, 42, 21) url('../assets/imgs/cloud.jpg')}
.mostlycloudy{background: rgb(250, 42, 21) url('../assets/imgs/cloud.jpg')}
.overcast{background: rgb(250, 42, 21) url('../assets/imgs/cloud.jpg')}
/* Lluvia */
.tstorms{background: rgb(0, 168, 109) url('../assets/imgs/rain.jpg')}
.chancerain{background: rgb(0, 168, 109) url('../assets/imgs/rain.jpg')}
.rain{background:rgb(0, 168, 109) url('../assets/imgs/rain.jpg') }
/* Nieve */
.flurries{background: rgb(212, 212, 212) url('../assets/imgs/rain.jpg')}
.chancesnow{background: rgb(212, 212, 212) url('../assets/imgs/rain.jpg')}
.chancesleet{background: rgb(212, 212, 212) url('../assets/imgs/rain.jpg')}
.chanceflurries{background: rgb(212, 212, 212) url('../assets/imgs/rain.jpg')}
.sleet{background: rgb(212, 212, 212) url('../assets/imgs/rain.jpg')}
.snow{background: rgb(212, 212, 212) url('../assets/imgs/rain.jpg')}


.addBtn{width: 50%; margin: 20px auto;display: block;}
.listItems{list-style: none;padding: 0}
.listItems li{background-color: #488aff; padding: 15px 0; text-align: center; margin: 0 auto; border-bottom: 1px solid #999;}
.listItems li:first-child{border-top: 1px solid #999;}
.listItems li a{color: #fff;}
.ubicacionContent{background-color: grey;display: flex;flex-direction: column;min-height: 100%;}
.ubicacionContent .ubicacion{border-bottom: 1px solid #fff;min-height: 150px;flex:1;display: flex; justify-content: center; flex-direction: column;}
.ubicacionContent .ubicacion:last-child{border-bottom: none;}
.ubicacionContent .ubicacion .ubicacionBox{position: relative;flex: 1;padding: 10px;background-size: cover;background-position: center 35%; background-repeat: no-repeat;}
.ubicacionContent .ubicacion .ubicacionBox ion-icon{color: #c40000; position: absolute; bottom: 10px; left: 10px; font-size: 30px;}
.ubicacionContent .ubicacion .ubicacionBox ion-navbar ion-icon{ font-size: 30px;}
.ubicacionContent .ubicacion .ubicacionBox:hover { filter: brightness(80%);transition: .3s;}
.ubicacionContent .ubicacion .ubicacionBox .iconConditions{width: 30px;display: inline-block;vertical-align: middle;}
.ubicacionContent .ubicacion .ubicacionBox .detailstemp{display: inline-block;vertical-align: middle;padding-left: 10px}
.ubicacionContent .ubicacion .ubicacionBox .temp{padding: 0}
.ubicacionContent .ubicacion .ubicacionBox .info{text-align: right;position: absolute;bottom: 10px;right: 10px;left: 10px;}
.ubicacionContent .ubicacion .ubicacionBox .title{font-size: 30px;}
// .ubicacionContent .ubicacion .ubicacionBox.clear{background-image: url('http://www.jmillan.com/projects/myWeather/images/night1.jpg');}
// .ubicacionContent .ubicacion .ubicacionBox.cloudy{background-image: url('http://www.jmillan.com/projects/myWeather/images/cloud.jpg');}
// .ubicacionContent .ubicacion .ubicacionBox.rain{background-image: url('http://www.jmillan.com/projects/myWeather/images/rain.jpg');}
