
<div class="col-md-3 mb30">
  <label for="ciudad">Buscar</label>
  <input type="search" placeholder="Buscar ciudad..." class="form-control"  (keyup)="buscarCiudad()" [(ngModel)]="ciudad" />
  <!-- <input #txtFname placeholder="Buscar ciudad..." />
  <tr *ngFor="let item of respuesta.nombre | searchfilter: 'name' : txtFname.value">
    <td>
        {{item.name}}
    </td>
  </tr> -->
</div>

<div class="col-md-12" *ngIf="ciudad.length > 1">
<h1 class="text-capitalize">{{ciudad}}</h1>
<div class="card-columns" >
  <div class="card puntero">
    <!-- <img [src]="item.images | sinfoto" class="card-img-top" alt="{{item.name}}" title="{{item.name}}"> -->
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text"><small class="text-muted">Temperatura actual: {{temperatura}} (C)</small></p>
      <p class="card-text"><small class="text-muted">Temperatura max.: {{temperatura_max}} (C)</small></p>
      <p class="card-text"><small class="text-muted">Temperatura min.: {{temperatura_min}} (C)</small></p>
      <p class="card-text"><small class="text-muted">Ciudad: {{nombre}}</small></p>
    </div>


  </div>
</div>
</div>

PENDIENTE DESARROLLAR CON IONIC
